<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
 
	<bean id="root" class="org.restlet.ext.spring.SpringRouter">
		<property name="attachments">
			<map>
				<entry key="/bpsGroups">
					<bean class="org.restlet.ext.spring.SpringFinder">
						<lookup-method name="createResource"
							bean="bpsGroupResource" />
					</bean>
				</entry>
				<entry key="/bpsTerms">
					<bean class="org.restlet.ext.spring.SpringFinder">
						<lookup-method name="createResource"
							bean="bpsTermResource" />
					</bean>
				</entry>
				<entry key="/bpsTermVersions">
					<bean class="org.restlet.ext.spring.SpringFinder">
						<lookup-method name="createResource"
							bean="bpsTermVersionResource" />
					</bean>
				</entry>
				<entry key="/bpsAttachFiles">
					<bean class="org.restlet.ext.spring.SpringFinder">
						<lookup-method name="createResource"
							bean="bpsAttachFileResource" />
					</bean>
				</entry>
				<entry key="/bpsTermLogs">
					<bean class="org.restlet.ext.spring.SpringFinder">
						<lookup-method name="createResource"
							bean="bpsTermLogResource" />
					</bean>
				</entry>
				<entry key="/bpsUserLdaps">
					<bean class="org.restlet.ext.spring.SpringFinder">
						<lookup-method name="createResource"
							bean="bpsUserLdapResource" />
					</bean>
				</entry>
				<entry key="/bpsGroupLdaps">
					<bean class="org.restlet.ext.spring.SpringFinder">
						<lookup-method name="createResource"
							bean="bpsGroupLdapResource" />
					</bean>
				</entry>
			</map>
		</property>
		<!--<property name="routes[2].template.variables[URI]">
			<bean class="org.restlet.util.Variable">
				<constructor-arg
					ref="org.restlet.util.Variable.TYPE_URI_ALL" />
			</bean>
		</property>
	--></bean>

	<bean id="org.restlet.util.Variable.TYPE_URI_ALL"
		class="org.springframework.beans.factory.config.FieldRetrievingFactoryBean" />
 
</beans>
